.trigger {
    /* padding: 0 24px; */
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.affixConfig {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 64px;
    background-color: #e3f2fd;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    margin-top: 10px !important;
}

.layout .background {
    background: #fff;
}

.background_page {
    background: #f0f2f5;
    /* width: 100vw;
    height: 100vh; */
}

.content_page {
    background: #fff;
}

.header_page {
    background: #fff !important;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 0;
}

.avatar_dropdown {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0 30px 0 0;
}

.user_name {
    margin-right: 8px;
    font-size: 16px;
    font-weight: bold;
}

.user_avatar {
    margin-top: -6px !important;
}

.list_profile {
    margin-top: -5px;
}

.unSelected {
    background-color: #e3f2fd;
    border-color: #1890ff;
    color: #1890ff;
}

.unSelected:hover {
    background-color: #e3f2fd;
    border-color: #1890ff;
    color: #1890ff;
}

.db__1 {
    margin-top: 20px;
}
.db__2 {
    text-align: center;
}
.db__3 {
    font-size: 20px;
}
.db__4 {
    margin-top: 13px;
    font-size: 13px;
}
.db__5 {
    text-align: center;
    margin-top: 35px;
}
.db__6 {
    padding: 12px;
}
.db__7 {
    padding: 20px;
    border-left: thick solid #f0f0f0;
}

.qlp__6a {
    text-align: right;
}
.qlp__7a {
    width: 100%;
}

.db__8 {
    display: flex;
}
.db__9 {
    color: green;
    margin-left: 5px;
}
.db__10 {
    color: red;
    margin-left: 5px;
}
.db__11 {
    text-align: right;
    margin-bottom: 20px;
}
.db__12 {
    margin-right: 8px;
}
.db__13 {
    margin-right: 4px;
}
.db__14 {
    text-align: center;
    margin-top: 10px;
}
.db__15 {
    margin-top: 16px;
}
.db__16 {
    margin-top: 10px;
}
.db__17 {
    width: 100%;
    margin-top: 10px;
}
.db__18 {
    width: 206px;
    height: 44px;
    background-color: #e3f2fd;
    color: #1976d2;
}
.db__18a {
    width: 206px;
    height: 44px;
    background-color: #f44336;
    color: #fff;
    float: right;
}
.db__19 {
    background-color: green;
}
.db__20 {
    border: 1px solid #f0f0f0;
    padding: 10px;
    border-radius: 15px;
    margin-top: 15px;
}
.db__21 {
    height: 400;
    width: 100%;
    margin-top: 15px;
    text-align: center;
}
.db__22 {
    text-align: right;
    background-color: blue;
    height: 45px;
}
.db__23 {
    color: white;
    margin-top: 11px;
    margin-right: 8px;
    margin-left: 20px;
}

.db__24 {
    color: white;
    margin-top: 5px;
}

.db__25 {
    margin-top: 6px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.db__26 {
    width: 100%;
    background-color: green;
}

.qlp__4 {
    display: flex;
}

.qlp__9 {
    text-align: right;
    background-color: blue;
    height: 45px;
}

.qlp__12 {
    margin-top: 6px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
}

.qlp__13 {
    margin-right: 8px;
}

.qlp__15 {
    text-align: center;
    margin-top: 10px;
}
.qlp__16 {
    margin-top: 16px;
}
.qlp__17 {
    margin: 10px 0 5px;
}

.qlp__18 {
    margin-top: 20px;
}

.qlp__19 {
    width: 206px;
    height: 44px;
    background-color: #e3f2fd;
    border: #e3f2fd;
    color: #1976d2;
}

.qlp__19a {
    width: 206px;
    height: 44px;
    background-color: #f44336;
}

.qlp__20 {
    background-color: green;
}

.tinhthanh_sort {
    text-align: right;
}

.wrapperSearchInput {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 6px;
}

.wrapperSearchInput > input {
    border: none;
}
.wrapperTitle {
    padding: 16px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.formItemTitle {
    margin-bottom: 6px;
    color: #1890ff;
}

.formItemDatePicker {
    width: 100%;
    background-color: transparent;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.formItemInput {
    background-color: transparent;
    border: none;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

.formItemSelect {
    background-color: transparent;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}
